{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $paginator := .Paginate .Pages }}
  <ul class="post-list">
    {{ range $paginator.Pages }}
      <li>
        <article>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p class="excerpt">{{ .Summary }}</p>
        </article>
      </li>
    {{ end }}
  </ul>

  <nav class="post-navigation pagination">
    <div class="post-nav-prev">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">Previous</a>
      {{ end }}
    </div>
    <div class="post-nav-next">
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Next</a>
      {{ end }}
    </div>
  </nav>
{{ end }}
