{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $paginator := .Paginate .Pages }}
  <ul class="post-list">
    {{ $root := . }}
    {{ $root.Scratch.Set "lastDate" "" }}
    {{ range $paginator.Pages }}
      {{ $date := .Date.Format "Jan 2, 2006" }}
      {{ if ne ($root.Scratch.Get "lastDate") $date }}
        <li class="post-date"><strong>{{ $date }}</strong></li>
        {{ $root.Scratch.Set "lastDate" $date }}
      {{ end }}
      <li class="post-item">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p class="excerpt">{{ .Summary }}</p>
      </li>
    {{ end }}
  </ul>

  <nav class="post-navigation pagination">
    <div class="post-nav-prev">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}">Previous</a>
      {{ end }}
    </div>
    <div class="post-nav-next">
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Next</a>
      {{ end }}
    </div>
  </nav>
{{ end }}
