{{ $p := .page }}
{{ $s := .site }}

{{/* Show comments when the page front matter sets `comments: true` OR the page is in the `posts` section */}}
{{ if or (eq (default false $p.Params.comments) true) (eq $p.Section "posts") }}
  {{ with $s.Params.disqusShortname }}
    {{ template "_internal/disqus.html" $p }}
  {{ else }}
    {{ with $s.DisqusShortname }}
      {{ template "_internal/disqus.html" $p }}
    {{ else }}
      <!-- Disqus not configured: set `params.disqusShortname` or `disqusShortname` in site config -->
    {{ end }}
  {{ end }}
{{ end }}
