<div class="widget about-widget">
  <h3>About</h3>
  {{ with .Site.Params.author }}
    {{ $author := . }}
    {{ with $author.name }}
      {{/* treat as map/object */}}
      {{ with $author.avatar }}<div class="author-avatar-wrap"><img class="author-avatar" src="{{ . | relURL }}" alt="{{ $author.name }}"></div>{{ end }}
      <div class="author-info">
        {{ with $author.name }}<p class="author-name">{{ . }}</p>{{ end }}
        {{ with $author.bio }}<p class="author-bio">{{ . }}</p>{{ end }}
      </div>
    {{ else }}
      <p>{{ $author }}</p>
    {{ end }}
  {{ end }}
</div>

<div class="widget">
  <h3>Recent Posts</h3>
  <ul>
    {{ range first 10 (where .Site.RegularPages "Type" "post" ).ByDate.Reverse }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>

<div class="widget">
  <h3>Categories</h3>
  <ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li><a href="{{ (index $taxonomy 0).Page.RelPermalink }}">{{ $name }}</a> ({{ len $taxonomy }})</li>
    {{ end }}
  </ul>
</div>
